.comment {
    display: flex;
    flex-direction: column;
    margin: .2em .5em;
    padding-left: .5em;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: grey;
        width: 2px;
        height: 100%;
        bottom: 0;
        left: -.1em;
        z-index: -1;
    }
    &__info {
        display: flex;
    }
}