.Post {
    background-color: rgb(170, 170, 170);
    display: flex;
    border-radius: .5em;
    margin: .5em;
    &:hover{
        cursor: pointer;
    }
    &__media {
        display: flex;
        img {
            object-fit:contain;
            height: 100px;
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
        padding: .2em 1em;
        &__info {
            display: flex;
        }
    }
}
